

<br>
<br>
<br>
<h3>Search Result</h3>  
<% if !@results.empty? %>
    <% @results.each do |result| %> 
        <h3><%= link_to result.name, result %><br></h3>  
    <% end %>
<% else %>
    <h2>No Results Found</h2> <%= button_to "Go Back", strains_path, method: :get %>
<% end %>
<br>
<br>
<br>
